.gitignore
figure1
mockup.pdf
mockup2.pdf
paper_icc_psb.pdf
paper_mc.pdf
poster_exercise.pdf
poster_template.lyx
poster_template.lyx~
test.xyz
iontrap_17-23_07_49/N_2/best_run_results.resmc
iontrap_17-23_07_49/N_2/conf_1_E_v_iter_nobg.png
iontrap_17-23_07_49/N_2/conf_1_E_v_iter.png
iontrap_17-23_07_49/N_2/conf_1_E_v_T_nobg.png
iontrap_17-23_07_49/N_2/conf_1_E_v_T.png
iontrap_17-23_07_49/N_2/conf_1_results.resmc
iontrap_17-23_07_49/N_2/conf_1_traj.xyz
iontrap_17-23_07_49/N_2/conf_2_E_v_iter_nobg.png
iontrap_17-23_07_49/N_2/conf_2_E_v_iter.png
iontrap_17-23_07_49/N_2/conf_2_E_v_T_nobg.png
iontrap_17-23_07_49/N_2/conf_2_E_v_T.png
iontrap_17-23_07_49/N_2/conf_2_results.resmc
iontrap_17-23_07_49/N_2/conf_2_traj.xyz
iontrap_17-23_07_49/N_3/best_run_results.resmc
iontrap_17-23_07_49/N_3/conf_1_E_v_iter_nobg.png
iontrap_17-23_07_49/N_3/conf_1_E_v_iter.png
iontrap_17-23_07_49/N_3/conf_1_E_v_T_nobg.png
iontrap_17-23_07_49/N_3/conf_1_E_v_T.png
iontrap_17-23_07_49/N_3/conf_1_results.resmc
iontrap_17-23_07_49/N_3/conf_1_traj.xyz
iontrap_17-23_07_49/N_3/conf_2_E_v_iter_nobg.png
iontrap_17-23_07_49/N_3/conf_2_E_v_iter.png
iontrap_17-23_07_49/N_3/conf_2_E_v_T_nobg.png
iontrap_17-23_07_49/N_3/conf_2_E_v_T.png
iontrap_17-23_07_49/N_3/conf_2_results.resmc
iontrap_17-23_07_49/N_3/conf_2_traj.xyz
iontrap_17-23_07_49/N_2/best_run_results.resmc
iontrap_17-23_07_49/N_2/conf_1_E_v_iter_nobg.png
iontrap_17-23_07_49/N_2/conf_1_E_v_iter.png
iontrap_17-23_07_49/N_2/conf_1_E_v_T_nobg.png
iontrap_17-23_07_49/N_2/conf_1_E_v_T.png
iontrap_17-23_07_49/N_2/conf_1_results.resmc
iontrap_17-23_07_49/N_2/conf_1_traj.xyz
iontrap_17-23_07_49/N_2/conf_2_E_v_iter_nobg.png
iontrap_17-23_07_49/N_2/conf_2_E_v_iter.png
iontrap_17-23_07_49/N_2/conf_2_E_v_T_nobg.png
iontrap_17-23_07_49/N_2/conf_2_E_v_T.png
iontrap_17-23_07_49/N_2/conf_2_results.resmc
iontrap_17-23_07_49/N_2/conf_2_traj.xyz
iontrap_17-23_07_49/N_3/best_run_results.resmc
iontrap_17-23_07_49/N_3/conf_1_E_v_iter_nobg.png
iontrap_17-23_07_49/N_3/conf_1_E_v_iter.png
iontrap_17-23_07_49/N_3/conf_1_E_v_T_nobg.png
iontrap_17-23_07_49/N_3/conf_1_E_v_T.png
iontrap_17-23_07_49/N_3/conf_1_results.resmc
iontrap_17-23_07_49/N_3/conf_1_traj.xyz
iontrap_17-23_07_49/N_3/conf_2_E_v_iter_nobg.png
iontrap_17-23_07_49/N_3/conf_2_E_v_iter.png
iontrap_17-23_07_49/N_3/conf_2_E_v_T_nobg.png
iontrap_17-23_07_49/N_3/conf_2_E_v_T.png
iontrap_17-23_07_49/N_3/conf_2_results.resmc
iontrap_17-23_07_49/N_3/conf_2_traj.xyz
iontrap_17-23_10_25/N_2/best_run_results.resmc
iontrap_17-23_10_25/N_2/conf_1_E_v_iter_doble_nobg.png
iontrap_17-23_10_25/N_2/conf_1_E_v_iter_doble.png
iontrap_17-23_10_25/N_2/conf_1_E_v_iter_nobg.png
iontrap_17-23_10_25/N_2/conf_1_E_v_iter.png
iontrap_17-23_10_25/N_2/conf_1_E_v_T_nobg.png
iontrap_17-23_10_25/N_2/conf_1_E_v_T.png
iontrap_17-23_10_25/N_2/conf_1_results.resmc
iontrap_17-23_10_25/N_2/conf_1_traj.xyz
iontrap_17-23_10_25/N_2/conf_2_E_v_iter_doble_nobg.png
iontrap_17-23_10_25/N_2/conf_2_E_v_iter_doble.png
iontrap_17-23_10_25/N_2/conf_2_E_v_iter_nobg.png
iontrap_17-23_10_25/N_2/conf_2_E_v_iter.png
iontrap_17-23_10_25/N_2/conf_2_E_v_T_nobg.png
iontrap_17-23_10_25/N_2/conf_2_E_v_T.png
iontrap_17-23_10_25/N_2/conf_2_results.resmc
iontrap_17-23_10_25/N_2/conf_2_traj.xyz
iontrap_17-23_10_25/N_3/best_run_results.resmc
iontrap_17-23_10_25/N_3/conf_1_E_v_iter_doble_nobg.png
iontrap_17-23_10_25/N_3/conf_1_E_v_iter_doble.png
iontrap_17-23_10_25/N_3/conf_1_E_v_iter_nobg.png
iontrap_17-23_10_25/N_3/conf_1_E_v_iter.png
iontrap_17-23_10_25/N_3/conf_1_E_v_T_nobg.png
iontrap_17-23_10_25/N_3/conf_1_E_v_T.png
iontrap_17-23_10_25/N_3/conf_1_results.resmc
iontrap_17-23_10_25/N_3/conf_1_traj.xyz
iontrap_17-23_10_25/N_3/conf_2_E_v_iter_doble_nobg.png
iontrap_17-23_10_25/N_3/conf_2_E_v_iter_doble.png
iontrap_17-23_10_25/N_3/conf_2_E_v_iter_nobg.png
iontrap_17-23_10_25/N_3/conf_2_E_v_iter.png
iontrap_17-23_10_25/N_3/conf_2_E_v_T_nobg.png
iontrap_17-23_10_25/N_3/conf_2_E_v_T.png
iontrap_17-23_10_25/N_3/conf_2_results.resmc
iontrap_17-23_10_25/N_3/conf_2_traj.xyz
iontrap_18-00_05_15/N_2/best_run_results.resmc
iontrap_18-00_05_15/N_2/conf_1_E_v_iter_doble_nobg.png
iontrap_18-00_05_15/N_2/conf_1_E_v_iter_doble.png
iontrap_18-00_05_15/N_2/conf_1_E_v_iter_nobg.png
iontrap_18-00_05_15/N_2/conf_1_E_v_iter.png
iontrap_18-00_05_15/N_2/conf_1_E_v_T_nobg.png
iontrap_18-00_05_15/N_2/conf_1_E_v_T.png
iontrap_18-00_05_15/N_2/conf_1_results.resmc
iontrap_18-00_05_15/N_2/conf_1_traj.xyz
iontrap_18-00_05_15/N_2/conf_2_E_v_iter_doble_nobg.png
iontrap_18-00_05_15/N_2/conf_2_E_v_iter_doble.png
iontrap_18-00_05_15/N_2/conf_2_E_v_iter_nobg.png
iontrap_18-00_05_15/N_2/conf_2_E_v_iter.png
iontrap_18-00_05_15/N_2/conf_2_E_v_T_nobg.png
iontrap_18-00_05_15/N_2/conf_2_E_v_T.png
iontrap_18-00_05_15/N_2/conf_2_results.resmc
iontrap_18-00_05_15/N_2/conf_2_traj.xyz
monte_carlo_simulation/__pycache__/mc_utils.cpython-310.pyc
CoulombChargesTrap3D/__pycache__/mc_utils.cpython-310.pyc
